# proGram

    Group Name: DataBusters 
    Course: BUDT704
    Section: 0501
    Date: 5th December 2022

    Group Members:
    1. Tania Sinhasan
    2. Lekhya Reddy Mudda
    3. Rohan Tangadpelli
    4. Yannan Zhu
    5. Chetana Shinde 
    6. Vishnu Kothagadi 
***

# Project Report

## Introduction

Instagram has **1.39 billion** users who spend an average of 11.7 hours using the app per month. And nearly **two-thirds** (62.3%) of them use the app to follow or research brands and products.

Which means that there are a myriad of influencers aggressively competing with each other to get the attention of brands with their content.

Apart from "Cristiano Ronaldo" who made around 85 million dollars in 2021 just from the brand deals on instagram,
there is a rise in a LOT of micro and mini influencers who collectively have the same amount of reach.

That brings us to the question of how do growing brands with lower marketing budgets choose the right influencer to effectively meet their marketing goals?


                        That's what we tried to solve, with the help of Data Analytics.

### What are we trying to achive?
We are trying to generate an optimum quality score for micro and mini influencers to reduce adverse selection. To find this quality score we need to first understand how a users activites on instagram affect their reach and engagement. To break it down further we need to answer a few questions :

1. How do we quantify an instagram influencer's engagement with their audience?


2. What is the best posting time to maximize an influencer's post reach?


3. What factor apart from a profile engagement affects an influencer's profile quality ?


4. How can a small business owner looking to reach out for influences find a right match for their specific requirment? 


5. Does use of specific popular hashtags and number of hastages used has an impact on the influence's popularity or reach?

### But why do these questions matter?
Okay, but WHY does it matter to answer these questions?

Because:


On an average, brands spend 13.8% of overall company revenue on marketing as of 2022. That's about 5% growth since 2011.

Small business and start-ups don't have enough budget to invest in excessive marketing and advertising. So it becomes pivotal
to ensure every penny of their tight-budget marketing expeditures are being effective enough. Which implies that they need a number to quantify and compare different influencers so that they know whom to choose.

Using our analysis of influencers and quality score, small business and startup's can select an influencer to represent their brand. This analysed quality score will also consider if that influencer's content matches with the brand requirment. For example, if a brand is looking to promote its new release handbag, the generated quality score will be highest for the fashion influencer who scores high on all the other considered metrics. This will ensure that enagaging with that particular influencer will help with brand reach and grow.

Lastly, 

Brands can't spend a whole day stalking each influencer to decide if they are the 'right fit' for an upcoming campaign.

                                    We instead leverage the power of data.

And that means using various metrics pertaining to an influncer 'quality' and reach of an influencer, to aid in 
our analysis.

### About the dataset:

The dataset has has been imported from Kaggle, one of the largest online repositories for data. The dataset is a compilation of 3 individual csv files corresponding to various instagram profiles, their corresponding posts and locations of those users resulting in 44 columns in total.

1. __Instagram Profiles__ - Information on about 42 million posts of instagram users in 2019. The columns include sid, sid_profile, post_id, profile_id, location_id, cts	post_type, description, numbr_likes, number_comments which are Sequence ID, Sequence ID of the profile from Profiles table, Instagrams ID, Instagrams ID may be null, location_id, Timestamp when the Post was created, (1 - Photo, 2 - Video, 3 - multi), description of post, number of likes and number of comments.


2. __Instagram Posts__ - Information on about 4.5 million profiles of instagram users who have made the above posts. The columns include sid, profile_id, profile_name, firstname_lastname, description, following, followers, n_posts, url, is_business_account which are Sequence ID, Instagrams ID, profile name, firstname, last name, the profile description, no. of following count, no. of followers count, no. of posts, the url, whether or not it's a business account or not.


3. __Instagram Locations__ - Information on around 1.2 million locations of those profiles worldwide. The columns that have been used are 'sid', 'id', 'name', 'street', 'zip', 'city', 'region', 'cd', 'dir_city_name', 'dir_city_slug', 'dir_country_id', 'dir_country_name', 'lat', 'lng' which are, Sequence ID, Instagrams ID, Locations Name, Street Address, may contain '\n', Zip code, city name, region, country code.

All data was scraped from Instagram's website in 2019 (most recent)

The data was collected via Selenium, using many AWS EC2s and stored in Postresql, all code base Python.

### Data Extraction and Cleaning 

Since, the datasets are very big and cannot be loaded completely in python with ease, we have taken a random sample of 100,000 Instagram Profiles from the profiles file. Furthermore, we have filtered the Instagram Posts dataset by mapping the data using profile id with the sampled out profiles. 


#### Process of Data Extraction and Cleaning: 

1. Instagram Profiles

   - To clean data from the sampled 100,000 dataset of profiles, we first dropp the cts column which is not required to determine the quality score. 
   - Then, we drop profiles which have null values in the columns - sid, profile_id and profile_name. These columns are important for mapping to the other files and help us identify the user. 
   - Since, our requirement focuses on catering to only mini and micro influencers on instagram, which is determined by the range of their followers, we filter out these influencer profiles with the help of column "followers". We will only take profiles which have followers in the range of 1000 to 100000.
   
   
   
2. Locations

    To clean data of the entire dataset of locations, we will drop the locations which have null values in the columns sid, id, name and cd (country code). These columns are important for mapping to other files and help us identify the location.

In [1]:
import pandas as pd
import numpy as np
import random
import re
from datetime import datetime
from dateutil.relativedelta import relativedelta

In [2]:
## Import data for instagram profiles file and sample random 100,000 profiles

filename_profiles = r"proGram_src\instagram_profiles.csv"

# Get total number of profiles in the file
total_num_profiles = sum(1 for line in open(filename_profiles, encoding="utf8")) - 1 # Total rows in original file
print (f"Total number of profiles in the dataset: {total_num_profiles}")

# Randomly skip rows from file to generate a sample of 100,000 profiles
random.seed(33)
sample_size = 100000                                                                 # Desired sample size
skip = sorted(random.sample(range(1,total_num_profiles+1), total_num_profiles-sample_size))
profiles_sample = pd.read_csv(filename_profiles, skiprows=skip, sep='\t')

# Get total number of profile sampled
print (f"Total number of profiles sampled: {profiles_sample.shape[0]}")

# Display fetched dataset
profiles_sample.head(10)

Total number of profiles in the dataset: 4509879
Total number of profiles sampled: 99995

,sid,profile_id,profile_name,firstname_lastname,description,following,followers,n_posts,url,cts,is_business_account
0,4184468,8.559205e+09,maxime_grauls,Maximeüíï,NaN,NaN,NaN,NaN,NaN,2019-08-01 14:40:41.458 -0400,NaN
1,4184565,2.731852e+08,amyncz,Amy Czeschin,"Love me some Jesus, my hubby (high school swee...",326.0,694.0,2294.0,www.glory-photography.com,2019-08-01 14:45:35.485 -0400,False
2,4184651,2.031493e+09,gabeblooomfield,Gabe Bloomfield,@rushskatepark @mitsuyocrew #rushskatepark #...,586.0,1149.0,188.0,m.youtube.com/watch?v=DUG2SuP2z4Q,2019-08-01 14:51:37.873 -0400,True
3,4184681,8.097728e+09,swarmclothing,S W A R M ‚Ä¢ C L O T H I N G,NaN,NaN,NaN,NaN,NaN,2019-08-01 14:54:26.476 -0400,NaN
4,4184744,1.737882e+09,polinairgasheva,–ü–æ–ª–∏–Ω–∞ –ï—Ä–≥–∞—à–µ–≤–∞,NaN,NaN,NaN,NaN,NaN,2019-08-01 14:57:44.566 -0400,NaN
5,4184714,5.651218e+09,ripper.manson,Slavko Obrenoviƒá,I'm just a Tim Burtons character in real life....,50.0,224.0,50.0,NaN,2019-08-01 14:56:26.610 -0400,True
6,4184890,9.052505e+08,rafampo,Rafael Prado,NaN,NaN,NaN,NaN,NaN,2019-08-01 15:09:48.243 -0400,NaN
7,4184879,1.990379e+09,garageroasted,Garage Coffee,NaN,NaN,NaN,NaN,NaN,2019-08-01 15:08:52.351 -0400,NaN
8,4184881,2.855756e+08,andy.monaghan,Andy Monaghan,Travel lover\nPrincipal dancer with @mbnewadve...,445.0,3204.0,295.0,new-adventures.net/romeo-juliet,2019-08-01 15:08:54.324 -0400,False
9,4184926,5.055912e+08,karenxparsons,KP,üèãüèùü§∏üèª‚Äç‚ôÄÔ∏èü•Çüçæ,968.0,352.0,384.0,NaN,2019-08-01 15:12:33.168 -0400,True

In [3]:
## Clean data for instagram profiles 

# Drop column cts as it is not required
profiles_sample.drop(columns=['cts'], axis=1, inplace=True)

# Filter rows where sid, profile_id and profile_name is not null
profiles_sample = profiles_sample.dropna(subset=["sid", "profile_id", "profile_name"])

# Filter mino and micro influencer profiles (min followers=1000 and max followers=100000)
min_followers = 1000
max_followers = 100000
profiles_sample = profiles_sample[(profiles_sample.followers > min_followers) & (profiles_sample.followers < max_followers)]

# Convert profile_id column to integer64 
profiles_sample["profile_id"] = profiles_sample["profile_id"].astype('int64')

# Convert followers, followings and no of posts to integer
profiles_sample["following"] = profiles_sample["following"].astype(int)
profiles_sample["followers"] = profiles_sample["followers"].astype(int)
profiles_sample["n_posts"] = profiles_sample["n_posts"].astype(int)

# Get total number of profiles after cleaning
no_of_profiles_sample = profiles_sample.shape[0]
print (f"Number of profiles after cleaning: {no_of_profiles_sample}")

# Display final sample of profiles after cleaning
profiles_sample.head(10)

Number of profiles after cleaning: 18253

,sid,profile_id,profile_name,firstname_lastname,description,following,followers,n_posts,url,is_business_account
2,4184651,2031492798,gabeblooomfield,Gabe Bloomfield,@rushskatepark @mitsuyocrew #rushskatepark #...,586,1149,188,m.youtube.com/watch?v=DUG2SuP2z4Q,True
8,4184881,285575633,andy.monaghan,Andy Monaghan,Travel lover\nPrincipal dancer with @mbnewadve...,445,3204,295,new-adventures.net/romeo-juliet,False
11,4185027,222243163,thestreethearts,streethearts,Artsy things,2793,1509,1302,streethearts.net,False
12,4185032,3547777346,snezhkabeauty,–ö–æ—Å–º–µ—Ç–æ–ª–æ–≥ –ë–æ—Ç–æ–∫—Å –†–µ—Å–Ω–∏—Ü,üéì–î–∏–ø–ª–æ–º–∏—Ä–æ–≤–∞–Ω–Ω—ã–π —Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç\nüîª–î–µ–ª–∞—é –ö—Ä–∞—Å–∏–≤–æ –±–µ...,786,1857,436,mssg.me/snezhkolamres,True
17,4185129,8693568724,comfortlaser,–õ–∞–∑–µ—Ä–Ω–∞—è —ç–ø–∏–ª—è—Ü–∏—è –ú–æ—Å–∫–≤–∞,"üë∏–ö–æ—Å–º–µ—Ç–æ–ª–æ–≥, –æ–º–æ–ª–æ–∂–µ–Ω–∏–µ, –ª–µ—á–µ–Ω–∏–µ –∞–∫–Ω–µ\n‚öúÔ∏è–õ—É—á—à–∏...",44,2108,284,api.whatsapp.com/send?phone=79778709053,True
22,4185403,346840779,maisiebrizz,MaisieBrizzolara,Can you tell I like to travel? üìçLondon. Philos...,1363,1719,267,youtu.be/qsGdkeHLfzM,True
23,4185460,504400186,chazzacolly,Cüåº,@alexkent101,1113,1334,24,NaN,False
34,4185739,363921172,calebpence8,Caleb Pence,‚Ä¢Sallisaw OK\n‚Ä¢Racing is my passion \n‚Ä¢Philipp...,1869,5127,108,NaN,False
40,4185932,1767139989,nicolas.jurasco,Nicolas jurasco Dubai,00971557772888 & whatsapp,4331,1851,2623,gmail.com,False
41,4185943,22140056,giorgiasenazencoach,Giorgia Sena,Procuradora Federal \nDoutoranda Un...,1805,1872,2643,soundcloud.com/giorgiasena,False

In [4]:
## Import data from instagram locations file 

filename_locations = r"proGram_src\instagram_locations.csv"

# Create list of columns required for import
columns_req = ['sid', 'id', 'name', 'street', 'zip', 'city', 'region', 'cd', 'dir_city_name', 'dir_city_slug', 'dir_country_id', 'dir_country_name', 'lat', 'lng']

# Load data
locations_dataset = pd.read_csv(filename_locations, usecols=columns_req, sep='\t')

# Get total number of locations in the file
print (f"Total number of locations in dataset: {locations_dataset.shape[0]}")

# Display fetched dataset
locations_dataset.head(10)

Total number of locations in dataset: 1022658

,sid,id,name,street,zip,city,region,cd,dir_city_name,dir_city_slug,dir_country_id,dir_country_name,lat,lng
0,719981,110296492939207,"Playa de Daimuz - Valencia, Espa√±a",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.139475,38.974391
1,719983,274391278,Nov√° Vieska,NaN,NaN,Nov√° Vieska,NaN,SK,Kis-√öjfalu,kis-ujfalu,SK,Slovakia,18.466667,47.866667
2,719985,148885595789195,Everest Today,Himalayas,+977,"Kathmandu, Nepal",NaN,NP,Pasupati,pasupati,NP,Nepal,85.330150,27.701960
3,719987,263258277,BULAC - Biblioth√®que universitaire des langues...,"65, rue des Grands-Moulins",75013,"Paris, France",NaN,FR,13√®me Arrondissement Paris,13eme-arrondissement-paris,FR,France,2.375995,48.827240
4,326443,406147529857708,ABC Cable Networks Group,3800 W Alameda Ave,91505,"Burbank, California",NaN,US,NaN,NaN,NaN,NaN,-118.341864,34.153265
5,326440,242403516699715,The Lakes at Discovery Bay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-121.621549,37.925412
6,719988,1651686855080719,"Tampines, Singapore",Tampines,529941,Singapore,NaN,SG,NaN,NaN,NaN,NaN,103.949729,1.355203
7,719992,240487083,Sittano‚Äôs Bar & Restaurant,"Shop R03 Westfield Penrith, Level 1 / Riley St...",2750,"Penrith, New South Wales",NaN,AU,Penrith,penrith,AU,Australia,150.694367,-33.751031
8,719996,750669435108256,‡∏ß‡∏±‡∏î‡∏ó‡πà‡∏≤‡∏ã‡∏∏‡∏á ‡∏≠‡∏∏‡∏ó‡∏±‡∏¢‡∏ò‡∏≤‡∏ô‡∏µ,3212,61000,"Nam Soem, Uthai Thani, Thailand",NaN,TH,NaN,NaN,NaN,NaN,100.073586,15.329776
9,719998,223283275,Cine Atlas,Hatanp√§√§n valtatie 1,33100,"Tampere, Finland",NaN,FI,NaN,NaN,NaN,NaN,23.766263,61.495690

In [5]:
## Clean data for instagram locations

# Filter rows where sid, id, name, and country (cd) is not null
locations_sample = locations_dataset.dropna(subset=["sid", "id", "name", "cd"])

# Convert profile_id column to integer64 
locations_sample["id"] = locations_sample["id"].astype('int64')

# Get total number of locations after cleaning
no_of_locations_sample = locations_sample.shape[0]
print (f"Number of locations after cleaning: {no_of_locations_sample}")

# Display final sample of locations after cleaning
locations_sample.head(10)

Number of locations after cleaning: 939010

C:\Users\tania\AppData\Local\Temp\ipykernel_30236\3465973869.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  locations_sample["id"] = locations_sample["id"].astype('int64')

,sid,id,name,street,zip,city,region,cd,dir_city_name,dir_city_slug,dir_country_id,dir_country_name,lat,lng
1,719983,274391278,Nov√° Vieska,NaN,NaN,Nov√° Vieska,NaN,SK,Kis-√öjfalu,kis-ujfalu,SK,Slovakia,18.466667,47.866667
2,719985,148885595789195,Everest Today,Himalayas,+977,"Kathmandu, Nepal",NaN,NP,Pasupati,pasupati,NP,Nepal,85.330150,27.701960
3,719987,263258277,BULAC - Biblioth√®que universitaire des langues...,"65, rue des Grands-Moulins",75013,"Paris, France",NaN,FR,13√®me Arrondissement Paris,13eme-arrondissement-paris,FR,France,2.375995,48.827240
4,326443,406147529857708,ABC Cable Networks Group,3800 W Alameda Ave,91505,"Burbank, California",NaN,US,NaN,NaN,NaN,NaN,-118.341864,34.153265
6,719988,1651686855080719,"Tampines, Singapore",Tampines,529941,Singapore,NaN,SG,NaN,NaN,NaN,NaN,103.949729,1.355203
7,719992,240487083,Sittano‚Äôs Bar & Restaurant,"Shop R03 Westfield Penrith, Level 1 / Riley St...",2750,"Penrith, New South Wales",NaN,AU,Penrith,penrith,AU,Australia,150.694367,-33.751031
8,719996,750669435108256,‡∏ß‡∏±‡∏î‡∏ó‡πà‡∏≤‡∏ã‡∏∏‡∏á ‡∏≠‡∏∏‡∏ó‡∏±‡∏¢‡∏ò‡∏≤‡∏ô‡∏µ,3212,61000,"Nam Soem, Uthai Thani, Thailand",NaN,TH,NaN,NaN,NaN,NaN,100.073586,15.329776
9,719998,223283275,Cine Atlas,Hatanp√§√§n valtatie 1,33100,"Tampere, Finland",NaN,FI,NaN,NaN,NaN,NaN,23.766263,61.495690
10,720000,470291196648741,NKA Makeup,Mario Bravo 849,NaN,"Buenos Aires, Argentina",NaN,AR,NaN,NaN,NaN,NaN,-58.416060,-34.600030
11,720005,1012918773,Love You To the Moon & Back,17775 Pleasant Valley Dr,48044,"Macomb, Michigan",NaN,US,NaN,NaN,NaN,NaN,-82.945289,42.666886

In [6]:
## Import data from instagram posts file 

filename_posts = r"proGram_src\instagram_posts.csv"

# Sample posts dataset by filtering out posts based on sample profiles by matching profile ids
chunksize = 100000       # we will import file in chunks as data is too huge
i = 1
for chunk in pd.read_csv(filename_posts, sep='\t', low_memory=False, chunksize=chunksize):
        posts = chunk[chunk["profile_id"].isin(profiles_sample["profile_id"])]
        if i == 1:
            posts_sample = posts
        else:
            posts_sample = pd.concat([posts_sample, posts])
        i = i+1

# Get total number of posts fetched from the file based on profiles sample
print (f"Total number of posts fetched from file based on profiles sample: {posts_sample.shape[0]}")

# Display fetched posts
posts_sample.head(10)

Total number of posts fetched from file based on profiles sample: 191406

,sid,sid_profile,post_id,profile_id,location_id,cts,post_type,description,numbr_likes,number_comments
3355,15131935,3471655,Bw4XLtMga2j,3.582981e+08,5.484382e+08,2019-04-30 15:03:13.000,1,Tampa Police Honor Guard was able to join the ...,206.0,5.0
5633,27386281,3398819,BgkKMt4hAW7,2.955287e+09,1.012855e+09,2018-03-21 01:22:38.000,1,"–î–æ–±—Ä–æ–µ —É—Ç—Ä–æ, –∫—Ä–∞—Å–æ—Ç–∫–∏ üíÉüèª\n–£ –Ω–∞—Å –æ—Ç–ª–∏—á–Ω–∞—è –Ω–æ–≤–æ—Å...",302.0,13983.0
5662,27386295,3398819,BqLfnHeBp_g,2.955287e+09,1.012855e+09,2018-11-15 00:42:40.000,1,"–î–æ–±—Ä–æ–µ —É—Ç—Ä–æ, –¥—Ä—É–∑—å—è!\n–ú—ã –∑–∞–ø—É—Å–∫–∞–µ–º –≥—Ä–∞–Ω–¥–∏–æ–∑–Ω—É—é...",113.0,3.0
5663,27386298,3398819,Bnm3n-xgvVO,2.955287e+09,1.012855e+09,2018-09-12 03:18:44.000,2,–í—Å–µ–º –ø—Ä–∏–≤–µ—Çüå∑\n–°–µ–≥–æ–¥–Ω—è —Å–∞–º—ã–π –≤–∞–∂–Ω—ã–π –¥–µ–Ω—å –¥–ª—è –Ω–∞...,63.0,4.0
8355,28379377,3343709,BwtdZAKgk7O,9.160016e+09,1.027062e+09,2019-04-26 09:25:48.000,1,"–ö–æ—Å—Ç—é–º –¥–∂–∏–Ω—Å–æ–≤—ã–π —Ç—Ä–æ–π–∫–∞ üíïüíïüíï 3350‚ÇΩ\n–†–∞–∑–º–µ—Ä 42, ...",16.0,0.0
8495,28379529,360593,BxeOfsXB1aR,2.458462e+08,4.508292e+07,2019-05-15 07:58:26.000,1,Let me introduce you to a gentleman who is a t...,455.0,21.0
10286,28381506,3917753,BkJGDAxnSIV,4.040536e+08,1.565835e+14,2018-06-18 00:12:26.000,1,The rose shaped gelato only lasted a minute un...,371.0,46.0
12795,28384187,3497910,BQ5QtXODQLr,3.553708e+08,2.591453e+08,2017-02-24 13:41:16.000,2,Another chill one from the other day @georgeyy...,108.0,0.0
16378,28387842,158967,BM8kcByhyxV,3.427072e+08,2.616589e+08,2016-11-18 10:25:48.000,1,Kurtka @goodlookin_pl üíô #girl #blonde #blogger...,973.0,48.0
16624,28388081,1025022,BxsfxxRjuK4,1.291047e+09,1.698223e+15,2019-05-20 20:59:46.000,2,#roadtrip #filmmakerslife #travelphotography #...,20.0,3.0

In [7]:
## Clean data for instagram posts

# Filter rows where sid is not null
posts_sample = posts_sample.dropna(subset=["sid"])

# Convert profile_id and location_id columns to integer64 
posts_sample["profile_id"] = posts_sample["profile_id"].astype('Int64')
posts_sample["location_id"] = posts_sample["location_id"].fillna(0)
posts_sample["location_id"] = posts_sample["location_id"].astype('Int64')

# Convert number of likes and number of comments columns to integer
posts_sample["numbr_likes"] = posts_sample["numbr_likes"].astype(int)
posts_sample["number_comments"] = posts_sample["number_comments"].astype(int)

# Convert cts to date time format
posts_sample['cts'] = pd.to_datetime(posts_sample['cts'])

# Get total number of posts after cleaning
no_of_posts_sample = posts_sample.shape[0]
print (f"Number of posts after cleaning: {no_of_posts_sample}")

# Display final sample of posts after cleaning
posts_sample.head(10)

Number of posts after cleaning: 191406

,sid,sid_profile,post_id,profile_id,location_id,cts,post_type,description,numbr_likes,number_comments
3355,15131935,3471655,Bw4XLtMga2j,358298091,548438207,2019-04-30 15:03:13,1,Tampa Police Honor Guard was able to join the ...,206,5
5633,27386281,3398819,BgkKMt4hAW7,2955286544,1012854533,2018-03-21 01:22:38,1,"–î–æ–±—Ä–æ–µ —É—Ç—Ä–æ, –∫—Ä–∞—Å–æ—Ç–∫–∏ üíÉüèª\n–£ –Ω–∞—Å –æ—Ç–ª–∏—á–Ω–∞—è –Ω–æ–≤–æ—Å...",302,13983
5662,27386295,3398819,BqLfnHeBp_g,2955286544,1012854533,2018-11-15 00:42:40,1,"–î–æ–±—Ä–æ–µ —É—Ç—Ä–æ, –¥—Ä—É–∑—å—è!\n–ú—ã –∑–∞–ø—É—Å–∫–∞–µ–º –≥—Ä–∞–Ω–¥–∏–æ–∑–Ω—É—é...",113,3
5663,27386298,3398819,Bnm3n-xgvVO,2955286544,1012854533,2018-09-12 03:18:44,2,–í—Å–µ–º –ø—Ä–∏–≤–µ—Çüå∑\n–°–µ–≥–æ–¥–Ω—è —Å–∞–º—ã–π –≤–∞–∂–Ω—ã–π –¥–µ–Ω—å –¥–ª—è –Ω–∞...,63,4
8355,28379377,3343709,BwtdZAKgk7O,9160016422,1027061897,2019-04-26 09:25:48,1,"–ö–æ—Å—Ç—é–º –¥–∂–∏–Ω—Å–æ–≤—ã–π —Ç—Ä–æ–π–∫–∞ üíïüíïüíï 3350‚ÇΩ\n–†–∞–∑–º–µ—Ä 42, ...",16,0
8495,28379529,360593,BxeOfsXB1aR,245846154,45082915,2019-05-15 07:58:26,1,Let me introduce you to a gentleman who is a t...,455,21
10286,28381506,3917753,BkJGDAxnSIV,404053613,156583481415876,2018-06-18 00:12:26,1,The rose shaped gelato only lasted a minute un...,371,46
12795,28384187,3497910,BQ5QtXODQLr,355370762,259145290,2017-02-24 13:41:16,2,Another chill one from the other day @georgeyy...,108,0
16378,28387842,158967,BM8kcByhyxV,342707208,261658876,2016-11-18 10:25:48,1,Kurtka @goodlookin_pl üíô #girl #blonde #blogger...,973,48
16624,28388081,1025022,BxsfxxRjuK4,1291046529,1698222890407446,2019-05-20 20:59:46,2,#roadtrip #filmmakerslife #travelphotography #...,20,3

In [8]:
keyword = 'fashion'

In [9]:
## Metrics 1: Total Number of Followers
## Metrics 2: Total Number of Posts (Based on profiles data)

df_quality_score = pd.DataFrame(profiles_sample[["profile_id", "followers", "n_posts"]])
df_quality_score.set_index('profile_id', inplace=True)

# Get Total number of posts of user by counting number of rows for each user in posts sample
# Note: This is different than Total number of posts of user in profiles sample 
posts_by_users = posts_sample.groupby(by=['profile_id'])['sid'].count().rename('total_posts', inplace=True)
df_quality_score = df_quality_score.merge(posts_by_users, left_index=True, right_index=True)


df_quality_score.head(10)

            followers  n_posts  total_posts
profile_id
2031492798       1149      188           12
285575633        3204      295           13
222243163        1509     1302           13
3547777346       1857      436           20
8693568724       2108      284           18
346840779        1719      267           17
504400186        1334       24           12
363921172        5127      108           12
1767139989       1851     2623           14
22140056         1872     2643           14

In [10]:
## Metrics 3: Engagement Rate of each profile/user


## Engagement Score = Number of likes + Number of comments (of all posts of the user) / Total number of followers of user

# Get Total number of likes & comments by summation of all numbr_likes and number_comments columns for each user 
sum_cols = ["numbr_likes", "number_comments"]
posts_by_users = posts_sample.groupby(by=['profile_id'])[sum_cols].sum()
df_quality_score = df_quality_score.merge(posts_by_users, left_index=True, right_index=True)


# Calculate Engagement Score for all users
df_quality_score["eng_score"] = ((df_quality_score['numbr_likes'] + df_quality_score['number_comments'])
                                 /df_quality_score['followers']).round(2)


# Display Engagament metrics
df_quality_score.head(10)

,followers,n_posts,total_posts,numbr_likes,number_comments,eng_score
profile_id,,,,,,
2031492798,1149,188,12,1398,71,1.28
285575633,3204,295,13,4834,102,1.54
222243163,1509,1302,13,338,13,0.23
3547777346,1857,436,20,673,370,0.56
8693568724,2108,284,18,377,20,0.19
346840779,1719,267,17,3761,506,2.48
504400186,1334,24,12,1060,37,0.82
363921172,5127,108,12,4454,24,0.87
1767139989,1851,2623,14,510,4,0.28
22140056,1872,2643,14,375,33,0.22

In [11]:
## Metrics 4: Recent Engagement Rate of each profile/user

## Calculating Engagement Score and Rate for recent 10 posts of the user
## If last post was made before 2018 --> Recent Engagement Score = 0

# Get most recent 10 posts for each user and create new posts sample
posts_sample_temp = posts_sample.copy()
posts_sample_temp.sort_values(by=['profile_id','cts'], ascending=[True,False], inplace=True)
posts_sample_temp = posts_sample_temp.groupby('profile_id').head(10)


## For the most recent 10 posts we will calculate:
## Recent Engagement Score = Number of likes + Number of comments (of all posts of the user) / Total number of followers of user

# Get Total number of likes & comments by summation of all numbr_likes and number_comments columns for each user 
sum_cols = ["numbr_likes", "number_comments"]
posts_by_users = posts_sample_temp.groupby(by=['profile_id'])[sum_cols].sum()
df_quality_score = df_quality_score.merge(posts_by_users, left_index=True, right_index=True, suffixes=['', '_rec'])

# Calculate Engagement Score for all users
df_quality_score["eng_score_rec"] = ((df_quality_score['numbr_likes_rec'] + df_quality_score['number_comments_rec'])
                                     /df_quality_score['followers']).round(2)


## Check if last post was made before 2018
year_threshold = 2018

# Create dummy variable for users whose recent post was before 2018 (value=0) or not (value=1)
posts_sample_temp = posts_sample_temp.groupby('profile_id').head(1)
posts_sample_temp['recent_post_before_2018'] = posts_sample_temp['cts'].map(lambda x: 0 if x.year < year_threshold else 1)
df_quality_score = df_quality_score.merge(posts_sample_temp[['profile_id', 'recent_post_before_2018']], 
                                          left_index=True, right_on='profile_id').set_index('profile_id')

# Make Engagement Score = 0 if user's recent post was before 2018 
df_quality_score["eng_score_rec"] = df_quality_score["eng_score_rec"] * df_quality_score['recent_post_before_2018']
    

# Display Recent Engagement metrics
df_quality_score.head(10)

,followers,n_posts,total_posts,numbr_likes,number_comments,eng_score,numbr_likes_rec,number_comments_rec,eng_score_rec,recent_post_before_2018
profile_id,,,,,,,,,,
2031492798,1149,188,12,1398,71,1.28,1169,64,1.07,1
285575633,3204,295,13,4834,102,1.54,4178,88,1.33,1
222243163,1509,1302,13,338,13,0.23,218,7,0.15,1
3547777346,1857,436,20,673,370,0.56,338,282,0.33,1
8693568724,2108,284,18,377,20,0.19,212,13,0.11,1
346840779,1719,267,17,3761,506,2.48,2295,369,1.55,1
504400186,1334,24,12,1060,37,0.82,933,33,0.72,1
363921172,5127,108,12,4454,24,0.87,3119,23,0.61,1
1767139989,1851,2623,14,510,4,0.28,361,2,0.20,1
22140056,1872,2643,14,375,33,0.22,291,19,0.17,1

In [12]:
## Metrics 5: Average percentage of increase in engagement score (Growth)

# Get a copy of posts samples 
posts_sample_temp = posts_sample.copy()

## For every post we will calculate:
## Engagement Score = Number of likes + Number of comments (of all posts of the user) / Total number of followers of user

# Get Total number of followers of user in posts sample dataset
posts_sample_temp = posts_sample_temp.merge(profiles_sample[["profile_id", "followers"]], left_on="profile_id", right_on="profile_id", how="left")

# Get Engagement rate for each post
posts_sample_temp["eng_score"] = ((posts_sample_temp["numbr_likes"] + posts_sample_temp["number_comments"]) 
                                  / posts_sample_temp["followers"])

# Sort posts by users and timestamp (recent first)
posts_sample_temp.sort_values(by=['profile_id','cts'], ascending=[True,False], inplace=True)

# Get percentage of increase in engagement score for consecutive posts for user
posts_sample_temp["perc_inc_eng_score"] = posts_sample_temp.groupby('profile_id')["eng_score"].pct_change() * 100

# To handle np.inf values, we will make np.inf or -np.inf as np.nan (not to be considered for average perc increase)
posts_sample_temp["perc_inc_eng_score"] = posts_sample_temp["perc_inc_eng_score"].replace([np.inf, -np.inf], np.nan)

# Get average of percentage of increase in engagement score for all posts for each user
posts_sample_temp = posts_sample_temp.groupby('profile_id')["perc_inc_eng_score"].mean().round(2)

# Consider average of percentage increase as 0 if Nan
posts_sample_temp = posts_sample_temp.fillna(0)

# If average of percentage of increase in eng score is negative then we will consider this score as 0
posts_sample_temp = posts_sample_temp.mask((posts_sample_temp < 0), 0)
df_quality_score = df_quality_score.merge(posts_sample_temp, left_index=True, right_index=True)

# Display metrics
df_quality_score.head(20)

,followers,n_posts,total_posts,numbr_likes,number_comments,eng_score,numbr_likes_rec,number_comments_rec,eng_score_rec,recent_post_before_2018,perc_inc_eng_score
profile_id,,,,,,,,,,,
2031492798,1149,188,12,1398,71,1.28,1169,64,1.07,1,0.00
285575633,3204,295,13,4834,102,1.54,4178,88,1.33,1,5.46
222243163,1509,1302,13,338,13,0.23,218,7,0.15,1,28.15
3547777346,1857,436,20,673,370,0.56,338,282,0.33,1,50.82
8693568724,2108,284,18,377,20,0.19,212,13,0.11,1,4.39
346840779,1719,267,17,3761,506,2.48,2295,369,1.55,1,12.70
504400186,1334,24,12,1060,37,0.82,933,33,0.72,1,0.00
363921172,5127,108,12,4454,24,0.87,3119,23,0.61,1,25.58
1767139989,1851,2623,14,510,4,0.28,361,2,0.20,1,68.15
22140056,1872,2643,14,375,33,0.22,291,19,0.17,1,8.40
194267213,1489,497,15,2145,42,1.47,1604,33,1.10,1,29.52
44200763,2597,3264,13,682,10,0.27,532,10,0.21,1,40.53
346156619,1135,391,14,1198,12,1.07,789,7,0.70,1,16.20
5973285,8347,490,16,4309,474,0.57,2643,276,0.35,1,48.22
22489717,2724,5279,15,1016,61,0.40,610,37,0.24,1,38.18
1418566770,3018,123,15,2736,53,0.92,1742,21,0.58,1,6.61
1637675,2402,424,19,2845,139,1.24,1410,95,0.63,1,8.61
2228444959,1667,212,13,1764,33,1.08,1370,20,0.83,1,16.68
19860790,1363,177,13,693,49,0.54,472,37,0.37,1,85.31
423121505,1247,152,14,3640,95,3.00,2645,75,2.18,1,0.73

In [13]:
## Metrics 6: Average no. of likes per post by Total Followers
## Metrics 7: Average no. of comments per post by Total Followers

# Get Average number of likes i.e. (total numbr_likes / total posts for each user) / total followers
df_quality_score['avg_likes_by_foll'] = ((df_quality_score['numbr_likes'] / df_quality_score['total_posts'])/df_quality_score['followers']).round(2)

# Get Average number of comments i.e. (total comments_likes / total posts for each user) / total followers 
df_quality_score['avg_com_by_foll'] = ((df_quality_score['number_comments'] / df_quality_score['total_posts'])/df_quality_score['followers']).round(2)
                         
# Display metrics
df_quality_score.head(20)

,followers,n_posts,total_posts,numbr_likes,number_comments,eng_score,numbr_likes_rec,number_comments_rec,eng_score_rec,recent_post_before_2018,perc_inc_eng_score,avg_likes_by_foll,avg_com_by_foll
profile_id,,,,,,,,,,,,,
2031492798,1149,188,12,1398,71,1.28,1169,64,1.07,1,0.00,0.10,0.01
285575633,3204,295,13,4834,102,1.54,4178,88,1.33,1,5.46,0.12,0.00
222243163,1509,1302,13,338,13,0.23,218,7,0.15,1,28.15,0.02,0.00
3547777346,1857,436,20,673,370,0.56,338,282,0.33,1,50.82,0.02,0.01
8693568724,2108,284,18,377,20,0.19,212,13,0.11,1,4.39,0.01,0.00
346840779,1719,267,17,3761,506,2.48,2295,369,1.55,1,12.70,0.13,0.02
504400186,1334,24,12,1060,37,0.82,933,33,0.72,1,0.00,0.07,0.00
363921172,5127,108,12,4454,24,0.87,3119,23,0.61,1,25.58,0.07,0.00
1767139989,1851,2623,14,510,4,0.28,361,2,0.20,1,68.15,0.02,0.00
22140056,1872,2643,14,375,33,0.22,291,19,0.17,1,8.40,0.01,0.00
194267213,1489,497,15,2145,42,1.47,1604,33,1.10,1,29.52,0.10,0.00
44200763,2597,3264,13,682,10,0.27,532,10,0.21,1,40.53,0.02,0.00
346156619,1135,391,14,1198,12,1.07,789,7,0.70,1,16.20,0.08,0.00
5973285,8347,490,16,4309,474,0.57,2643,276,0.35,1,48.22,0.03,0.00
22489717,2724,5279,15,1016,61,0.40,610,37,0.24,1,38.18,0.02,0.00
1418566770,3018,123,15,2736,53,0.92,1742,21,0.58,1,6.61,0.06,0.00
1637675,2402,424,19,2845,139,1.24,1410,95,0.63,1,8.61,0.06,0.00
2228444959,1667,212,13,1764,33,1.08,1370,20,0.83,1,16.68,0.08,0.00
19860790,1363,177,13,693,49,0.54,472,37,0.37,1,85.31,0.04,0.00
423121505,1247,152,14,3640,95,3.00,2645,75,2.18,1,0.73,0.21,0.01

In [14]:
## Metrics 8: Hashtag Score - Ideal number of Hashtags per post 

## Get number of hashtags used by each user in their posts 

# Import file to map number of hashtags vs score to be given to the user 
filename_hashtags_score = r"proGram_src\NumberofHashtags_Score.csv"
hashtags_score_dataset = pd.read_csv(filename_hashtags_score, sep=',')

# Get a copy of posts samples with profile_id and description (description is the caption)
posts_sample_temp = posts_sample[['profile_id', 'description']].copy()

# Pattern for matching hashtag
pattern = "[#][\S]*"

# Create new variable to store average number of hashtags per post used by user 
posts_sample_temp["no_of_hashtags"] = posts_sample_temp["description"].str.count(pattern, flags=re.IGNORECASE)
posts_sample_temp["hashtag_score"] = 0
for row in hashtags_score_dataset.iterrows():
    posts_sample_temp["hashtag_score"] = np.where(posts_sample_temp["no_of_hashtags"].between(row[1]["Min"],row[1]["Max"]), row[1]["Score"], posts_sample_temp["hashtag_score"])


# Calculate average of hashtag score for each user
posts_sample_temp = posts_sample_temp.groupby('profile_id').mean().round(2)
df_quality_score = df_quality_score.merge(posts_sample_temp['hashtag_score'], left_index=True, right_index=True)

# Display metrics
df_quality_score.head(10)

,followers,n_posts,total_posts,numbr_likes,number_comments,eng_score,numbr_likes_rec,number_comments_rec,eng_score_rec,recent_post_before_2018,perc_inc_eng_score,avg_likes_by_foll,avg_com_by_foll,hashtag_score
profile_id,,,,,,,,,,,,,,
2031492798,1149,188,12,1398,71,1.28,1169,64,1.07,1,0.00,0.10,0.01,1.17
285575633,3204,295,13,4834,102,1.54,4178,88,1.33,1,5.46,0.12,0.00,0.31
222243163,1509,1302,13,338,13,0.23,218,7,0.15,1,28.15,0.02,0.00,5.46
3547777346,1857,436,20,673,370,0.56,338,282,0.33,1,50.82,0.02,0.01,0.10
8693568724,2108,284,18,377,20,0.19,212,13,0.11,1,4.39,0.01,0.00,2.89
346840779,1719,267,17,3761,506,2.48,2295,369,1.55,1,12.70,0.13,0.02,0.00
504400186,1334,24,12,1060,37,0.82,933,33,0.72,1,0.00,0.07,0.00,0.00
363921172,5127,108,12,4454,24,0.87,3119,23,0.61,1,25.58,0.07,0.00,0.00
1767139989,1851,2623,14,510,4,0.28,361,2,0.20,1,68.15,0.02,0.00,6.43
22140056,1872,2643,14,375,33,0.22,291,19,0.17,1,8.40,0.01,0.00,1.86

In [15]:
## Metrics 9: Keyword match - Profile Bio

## Get users whose bios have the keyword
    
# Get a copy of profiles samples with profile_id and description (description is the bio)
profiles_sample_temp = profiles_sample[['profile_id', 'description']].copy().set_index('profile_id')
    
# Create new variable to mark if user has bio with the keyword (Yes="1", No="0")
profiles_sample_temp["bio_with_keyword"] = profiles_sample_temp["description"].str.contains(keyword, flags=re.IGNORECASE)
profiles_sample_temp["bio_with_keyword"].fillna(False, inplace=True) # If bio is null, then consider match as False
profiles_sample_temp["bio_with_keyword"] = profiles_sample_temp["bio_with_keyword"].astype(int)
df_quality_score = df_quality_score.merge(profiles_sample_temp['bio_with_keyword'], left_index=True, right_index=True)
    
# Get total number of profiles with keyword in their bios
print(f"Number of profiles with keyword: {keyword} in their bios = {df_quality_score['bio_with_keyword'].sum()}")

# Display metrics
df_quality_score.head(10)

Number of profiles with keyword: fashion in their bios = 366

,followers,n_posts,total_posts,numbr_likes,number_comments,eng_score,numbr_likes_rec,number_comments_rec,eng_score_rec,recent_post_before_2018,perc_inc_eng_score,avg_likes_by_foll,avg_com_by_foll,hashtag_score,bio_with_keyword
profile_id,,,,,,,,,,,,,,,
2031492798,1149,188,12,1398,71,1.28,1169,64,1.07,1,0.00,0.10,0.01,1.17,0
285575633,3204,295,13,4834,102,1.54,4178,88,1.33,1,5.46,0.12,0.00,0.31,0
222243163,1509,1302,13,338,13,0.23,218,7,0.15,1,28.15,0.02,0.00,5.46,0
3547777346,1857,436,20,673,370,0.56,338,282,0.33,1,50.82,0.02,0.01,0.10,0
8693568724,2108,284,18,377,20,0.19,212,13,0.11,1,4.39,0.01,0.00,2.89,0
346840779,1719,267,17,3761,506,2.48,2295,369,1.55,1,12.70,0.13,0.02,0.00,0
504400186,1334,24,12,1060,37,0.82,933,33,0.72,1,0.00,0.07,0.00,0.00,0
363921172,5127,108,12,4454,24,0.87,3119,23,0.61,1,25.58,0.07,0.00,0.00,0
1767139989,1851,2623,14,510,4,0.28,361,2,0.20,1,68.15,0.02,0.00,6.43,0
22140056,1872,2643,14,375,33,0.22,291,19,0.17,1,8.40,0.01,0.00,1.86,0

In [16]:
## Metrics 10: Keyword match (number of posts) - in post captions 
## Metrics 11: Keyword match (number of posts/total posts) - in posts captions

## Get number of posts that have the keyword for each user

# Get a copy of posts samples with profile_id and description (description is the caption)
posts_sample_temp = posts_sample[['profile_id', 'description']].copy()
    
# Create new variable to store number of posts that have the keyword for each user
posts_sample_temp["posts_with_keyword"] = posts_sample_temp["description"].str.contains(keyword, flags=re.IGNORECASE)
posts_sample_temp["posts_with_keyword"].fillna(False, inplace=True) # If caption is null, then consider match as 0
posts_sample_temp = posts_sample_temp.groupby('profile_id').sum()
posts_sample_temp["posts_with_keyword"] = posts_sample_temp["posts_with_keyword"].astype(int)
df_quality_score = df_quality_score.merge(posts_sample_temp['posts_with_keyword'], left_index=True, right_index=True)

## Get number of posts that have the keyword/total posts for each user
df_quality_score["posts_with_keyword_by_total"] = (df_quality_score['posts_with_keyword'] / df_quality_score['total_posts']).round(2)

# Display metrics
df_quality_score.head(10)

,followers,n_posts,total_posts,numbr_likes,number_comments,eng_score,numbr_likes_rec,number_comments_rec,eng_score_rec,recent_post_before_2018,perc_inc_eng_score,avg_likes_by_foll,avg_com_by_foll,hashtag_score,bio_with_keyword,posts_with_keyword,posts_with_keyword_by_total
profile_id,,,,,,,,,,,,,,,,,
2031492798,1149,188,12,1398,71,1.28,1169,64,1.07,1,0.00,0.10,0.01,1.17,0,0,0.0
285575633,3204,295,13,4834,102,1.54,4178,88,1.33,1,5.46,0.12,0.00,0.31,0,0,0.0
222243163,1509,1302,13,338,13,0.23,218,7,0.15,1,28.15,0.02,0.00,5.46,0,0,0.0
3547777346,1857,436,20,673,370,0.56,338,282,0.33,1,50.82,0.02,0.01,0.10,0,0,0.0
8693568724,2108,284,18,377,20,0.19,212,13,0.11,1,4.39,0.01,0.00,2.89,0,0,0.0
346840779,1719,267,17,3761,506,2.48,2295,369,1.55,1,12.70,0.13,0.02,0.00,0,0,0.0
504400186,1334,24,12,1060,37,0.82,933,33,0.72,1,0.00,0.07,0.00,0.00,0,0,0.0
363921172,5127,108,12,4454,24,0.87,3119,23,0.61,1,25.58,0.07,0.00,0.00,0,0,0.0
1767139989,1851,2623,14,510,4,0.28,361,2,0.20,1,68.15,0.02,0.00,6.43,0,0,0.0
22140056,1872,2643,14,375,33,0.22,291,19,0.17,1,8.40,0.01,0.00,1.86,0,0,0.0

In [17]:
## Metrics 12: Keyword match - Hashtags

## Get number of hashtags used by each user in their posts that have the keyword 

# Get a copy of posts samples with profile_id and description (description is the caption)
posts_sample_temp = posts_sample[['profile_id', 'description']].copy()

# Pattern for matching hashtag
pattern = "[#][\S]*"+keyword+"[\S]*"

# Create new variable to store number of hashtags used by user 
posts_sample_temp["hashtag_with_keyword"] = posts_sample_temp["description"].str.count(pattern, flags=re.IGNORECASE)
posts_sample_temp = posts_sample_temp.groupby('profile_id').sum()
posts_sample_temp["hashtag_with_keyword"] = posts_sample_temp["hashtag_with_keyword"].astype(int)
df_quality_score = df_quality_score.merge(posts_sample_temp['hashtag_with_keyword'], left_index=True, right_index=True)

# Display metrics
df_quality_score.head(10)

,followers,n_posts,total_posts,numbr_likes,number_comments,eng_score,numbr_likes_rec,number_comments_rec,eng_score_rec,recent_post_before_2018,perc_inc_eng_score,avg_likes_by_foll,avg_com_by_foll,hashtag_score,bio_with_keyword,posts_with_keyword,posts_with_keyword_by_total,hashtag_with_keyword
profile_id,,,,,,,,,,,,,,,,,,
2031492798,1149,188,12,1398,71,1.28,1169,64,1.07,1,0.00,0.10,0.01,1.17,0,0,0.0,0
285575633,3204,295,13,4834,102,1.54,4178,88,1.33,1,5.46,0.12,0.00,0.31,0,0,0.0,0
222243163,1509,1302,13,338,13,0.23,218,7,0.15,1,28.15,0.02,0.00,5.46,0,0,0.0,0
3547777346,1857,436,20,673,370,0.56,338,282,0.33,1,50.82,0.02,0.01,0.10,0,0,0.0,0
8693568724,2108,284,18,377,20,0.19,212,13,0.11,1,4.39,0.01,0.00,2.89,0,0,0.0,0
346840779,1719,267,17,3761,506,2.48,2295,369,1.55,1,12.70,0.13,0.02,0.00,0,0,0.0,0
504400186,1334,24,12,1060,37,0.82,933,33,0.72,1,0.00,0.07,0.00,0.00,0,0,0.0,0
363921172,5127,108,12,4454,24,0.87,3119,23,0.61,1,25.58,0.07,0.00,0.00,0,0,0.0,0
1767139989,1851,2623,14,510,4,0.28,361,2,0.20,1,68.15,0.02,0.00,6.43,0,0,0.0,0
22140056,1872,2643,14,375,33,0.22,291,19,0.17,1,8.40,0.01,0.00,1.86,0,0,0.0,0

In [18]:
## Metrics 13: Requirement Specific Engagement Rate - only for posts where keyword matches

## Get posts that have the keyword for each user

# Get a copy of posts samples with profile_id and description (description is the caption)
posts_sample_temp = posts_sample.copy()
    
# Create new variable to store number of posts that have the keyword for each user
posts_sample_temp["posts_with_keyword"] = posts_sample_temp["description"].str.contains(keyword, flags=re.IGNORECASE)
posts_sample_temp["posts_with_keyword"].fillna(False, inplace=True) # If caption is null, then consider match as 0

# Only take posts which have the keyword
posts_sample_temp = posts_sample_temp[posts_sample_temp['posts_with_keyword'] == True]

# Get Total number of likes & comments by summation of all numbr_likes and number_comments columns for each user 
sum_cols = ["numbr_likes", "number_comments"]
posts_by_users = posts_sample_temp.groupby(by=['profile_id'])[sum_cols].sum()
df_quality_score = df_quality_score.merge(posts_by_users, left_index=True, right_index=True, suffixes=['', '_keyword'], how="left")
df_quality_score["numbr_likes_keyword"].fillna(0, inplace=True)
df_quality_score["number_comments_keyword"].fillna(0, inplace=True)

# Calculate Engagement Score for all users for posts with keyword
df_quality_score["eng_score_keyword"] = ((df_quality_score['numbr_likes_keyword'] + df_quality_score['number_comments_keyword'])
                                         /df_quality_score['followers']).round(2)


# Display metrics
df_quality_score.head(10)

,followers,n_posts,total_posts,numbr_likes,number_comments,eng_score,numbr_likes_rec,number_comments_rec,eng_score_rec,recent_post_before_2018,...,avg_likes_by_foll,avg_com_by_foll,hashtag_score,bio_with_keyword,posts_with_keyword,posts_with_keyword_by_total,hashtag_with_keyword,numbr_likes_keyword,number_comments_keyword,eng_score_keyword
profile_id,,,,,,,,,,,,,,,,,,,,,
2031492798,1149,188,12,1398,71,1.28,1169,64,1.07,1,...,0.10,0.01,1.17,0,0,0.0,0,0.0,0.0,0.0
285575633,3204,295,13,4834,102,1.54,4178,88,1.33,1,...,0.12,0.00,0.31,0,0,0.0,0,0.0,0.0,0.0
222243163,1509,1302,13,338,13,0.23,218,7,0.15,1,...,0.02,0.00,5.46,0,0,0.0,0,0.0,0.0,0.0
3547777346,1857,436,20,673,370,0.56,338,282,0.33,1,...,0.02,0.01,0.10,0,0,0.0,0,0.0,0.0,0.0
8693568724,2108,284,18,377,20,0.19,212,13,0.11,1,...,0.01,0.00,2.89,0,0,0.0,0,0.0,0.0,0.0
346840779,1719,267,17,3761,506,2.48,2295,369,1.55,1,...,0.13,0.02,0.00,0,0,0.0,0,0.0,0.0,0.0
504400186,1334,24,12,1060,37,0.82,933,33,0.72,1,...,0.07,0.00,0.00,0,0,0.0,0,0.0,0.0,0.0
363921172,5127,108,12,4454,24,0.87,3119,23,0.61,1,...,0.07,0.00,0.00,0,0,0.0,0,0.0,0.0,0.0
1767139989,1851,2623,14,510,4,0.28,361,2,0.20,1,...,0.02,0.00,6.43,0,0,0.0,0,0.0,0.0,0.0
22140056,1872,2643,14,375,33,0.22,291,19,0.17,1,...,0.01,0.00,1.86,0,0,0.0,0,0.0,0.0,0.0

In [19]:
### Calculate Overall Quality Score

# Import file to map metrics vs weightage given to it to calculate quality score
filename_metrics_weightage = r"proGram_src\Metrics_Weightage.xlsx"
metrics_weightage = pd.read_excel(filename_metrics_weightage, index_col="Metrics")

metrics_weightage.head(20)

                             Weights
Metrics
n_posts                          5.0
followers                        5.0
eng_score                       10.0
eng_score_rec                   12.5
perc_inc_eng_score               5.0
avg_likes_by_foll                5.0
avg_com_by_foll                  5.0
hashtag_score                    7.5
bio_with_keyword                 5.0
posts_with_keyword              10.0
posts_with_keyword_by_total      7.5
hashtag_with_keyword            10.0
eng_score_keyword               12.5

In [20]:
# Convert Metrics column to list
metrics_list = metrics_weightage.index.to_list()
print(f"Metrics: {metrics_list}")

# Convert Weights column to list
weights_list = metrics_weightage["Weights"].to_list()
print(f"Weights: {weights_list}")

# Grade every user for each metrics (out of 100) and create new dataframe of graded metrics
# Grade = User's value of metrics / Max possible value of metrics * 100
df_quality_score_grade = ((df_quality_score.loc[:, metrics_list] / df_quality_score.loc[:, metrics_list].max()) * 100).round(2)

# Calculate Overall Quality Score by multiplying weightage of each metrics to the metrics grade 
df_quality_score_grade["overall_score"] = df_quality_score_grade.mul(weights_list).sum(axis=1)

# Display Overall Quality Score
df_quality_score_grade.head(20)

Metrics: ['n_posts', 'followers', 'eng_score', 'eng_score_rec', 'perc_inc_eng_score', 'avg_likes_by_foll', 'avg_com_by_foll', 'hashtag_score', 'bio_with_keyword', 'posts_with_keyword', 'posts_with_keyword_by_total', 'hashtag_with_keyword', 'eng_score_keyword']
Weights: [5.0, 5.0, 10.0, 12.5, 5.0, 5.0, 5.0, 7.5, 5.0, 10.0, 7.5, 10.0, 12.5]

,n_posts,followers,eng_score,eng_score_rec,perc_inc_eng_score,avg_likes_by_foll,avg_com_by_foll,hashtag_score,bio_with_keyword,posts_with_keyword,posts_with_keyword_by_total,hashtag_with_keyword,eng_score_keyword,overall_score
profile_id,,,,,,,,,,,,,,
2031492798,0.45,1.16,4.11,3.48,0.00,7.14,0.61,11.7,0.0,0.0,0.0,0.0,0.0,219.150
285575633,0.71,3.23,4.94,4.33,0.03,8.57,0.00,3.1,0.0,0.0,0.0,0.0,0.0,189.475
222243163,3.12,1.52,0.74,0.49,0.18,1.43,0.00,54.6,0.0,0.0,0.0,0.0,0.0,454.275
3547777346,1.04,1.87,1.80,1.07,0.32,1.43,0.61,1.0,0.0,0.0,0.0,0.0,0.0,65.225
8693568724,0.68,2.13,0.61,0.36,0.03,0.71,0.00,28.9,0.0,0.0,0.0,0.0,0.0,245.100
346840779,0.64,1.73,7.96,5.04,0.08,9.29,1.23,0.0,0.0,0.0,0.0,0.0,0.0,207.450
504400186,0.06,1.34,2.63,2.34,0.00,5.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,87.550
363921172,0.26,5.17,2.79,1.98,0.16,5.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,105.600
1767139989,6.28,1.87,0.90,0.65,0.43,1.43,0.00,64.3,0.0,0.0,0.0,0.0,0.0,549.425
22140056,6.33,1.89,0.71,0.55,0.05,0.71,0.00,18.6,0.0,0.0,0.0,0.0,0.0,198.375
194267213,1.19,1.50,4.72,3.58,0.18,7.14,0.00,0.0,0.0,0.0,0.0,0.0,0.0,142.000
44200763,7.82,2.62,0.87,0.68,0.25,1.43,0.00,0.0,0.0,0.0,0.0,0.0,0.0,77.800
346156619,0.94,1.14,3.43,2.28,0.10,5.71,0.00,0.0,0.0,0.0,0.0,0.0,0.0,102.250
5973285,1.17,8.42,1.83,1.14,0.30,2.14,0.00,0.0,0.0,0.0,0.0,0.0,0.0,92.700
22489717,12.64,2.75,1.28,0.78,0.24,1.43,0.00,8.7,0.0,0.0,0.0,0.0,0.0,173.100
1418566770,0.29,3.04,2.95,1.89,0.04,4.29,0.00,0.0,0.0,0.0,0.0,0.0,0.0,91.425
1637675,1.02,2.42,3.98,2.05,0.05,4.29,0.00,7.4,0.0,0.0,0.0,0.0,0.0,159.825
2228444959,0.51,1.68,3.47,2.70,0.10,5.71,0.00,3.1,0.0,0.0,0.0,0.0,0.0,131.700
19860790,0.42,1.37,1.73,1.20,0.53,2.86,0.00,25.4,0.0,0.0,0.0,0.0,0.0,248.700
423121505,0.36,1.26,9.63,7.09,0.00,15.00,0.61,9.3,0.0,0.0,0.0,0.0,0.0,340.825

In [21]:
# Understand the variation in overall quality score 
df_quality_score_grade["overall_score"].describe()

count    14225.000000
mean       320.245367
std        329.764167
min          5.300000
25%        123.750000
50%        215.825000
75%        405.975000
max       3901.075000
Name: overall_score, dtype: float64

In [22]:
## Calculate Quality score percentage 

# Get max possible value of overall quality score
max_overall_quality_score = df_quality_score_grade["overall_score"].max()
print(f"Maximum overall quality score is: {max_overall_quality_score}")

# Get quality score percentage for all users (considering max value as total points for quality score)
df_quality_score_grade["quality_score (in %)"] = ((df_quality_score_grade["overall_score"] / max_overall_quality_score) * 100).round(2)

# Display quality score percentage
df_quality_score_grade.head(20)

Maximum overall quality score is: 3901.075

,n_posts,followers,eng_score,eng_score_rec,perc_inc_eng_score,avg_likes_by_foll,avg_com_by_foll,hashtag_score,bio_with_keyword,posts_with_keyword,posts_with_keyword_by_total,hashtag_with_keyword,eng_score_keyword,overall_score,quality_score (in %)
profile_id,,,,,,,,,,,,,,,
2031492798,0.45,1.16,4.11,3.48,0.00,7.14,0.61,11.7,0.0,0.0,0.0,0.0,0.0,219.150,5.62
285575633,0.71,3.23,4.94,4.33,0.03,8.57,0.00,3.1,0.0,0.0,0.0,0.0,0.0,189.475,4.86
222243163,3.12,1.52,0.74,0.49,0.18,1.43,0.00,54.6,0.0,0.0,0.0,0.0,0.0,454.275,11.64
3547777346,1.04,1.87,1.80,1.07,0.32,1.43,0.61,1.0,0.0,0.0,0.0,0.0,0.0,65.225,1.67
8693568724,0.68,2.13,0.61,0.36,0.03,0.71,0.00,28.9,0.0,0.0,0.0,0.0,0.0,245.100,6.28
346840779,0.64,1.73,7.96,5.04,0.08,9.29,1.23,0.0,0.0,0.0,0.0,0.0,0.0,207.450,5.32
504400186,0.06,1.34,2.63,2.34,0.00,5.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,87.550,2.24
363921172,0.26,5.17,2.79,1.98,0.16,5.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,105.600,2.71
1767139989,6.28,1.87,0.90,0.65,0.43,1.43,0.00,64.3,0.0,0.0,0.0,0.0,0.0,549.425,14.08
22140056,6.33,1.89,0.71,0.55,0.05,0.71,0.00,18.6,0.0,0.0,0.0,0.0,0.0,198.375,5.09
194267213,1.19,1.50,4.72,3.58,0.18,7.14,0.00,0.0,0.0,0.0,0.0,0.0,0.0,142.000,3.64
44200763,7.82,2.62,0.87,0.68,0.25,1.43,0.00,0.0,0.0,0.0,0.0,0.0,0.0,77.800,1.99
346156619,0.94,1.14,3.43,2.28,0.10,5.71,0.00,0.0,0.0,0.0,0.0,0.0,0.0,102.250,2.62
5973285,1.17,8.42,1.83,1.14,0.30,2.14,0.00,0.0,0.0,0.0,0.0,0.0,0.0,92.700,2.38
22489717,12.64,2.75,1.28,0.78,0.24,1.43,0.00,8.7,0.0,0.0,0.0,0.0,0.0,173.100,4.44
1418566770,0.29,3.04,2.95,1.89,0.04,4.29,0.00,0.0,0.0,0.0,0.0,0.0,0.0,91.425,2.34
1637675,1.02,2.42,3.98,2.05,0.05,4.29,0.00,7.4,0.0,0.0,0.0,0.0,0.0,159.825,4.10
2228444959,0.51,1.68,3.47,2.70,0.10,5.71,0.00,3.1,0.0,0.0,0.0,0.0,0.0,131.700,3.38
19860790,0.42,1.37,1.73,1.20,0.53,2.86,0.00,25.4,0.0,0.0,0.0,0.0,0.0,248.700,6.38
423121505,0.36,1.26,9.63,7.09,0.00,15.00,0.61,9.3,0.0,0.0,0.0,0.0,0.0,340.825,8.74

In [23]:
## Calculate Quality Score percentile rank of overall quality score

df_quality_score_grade['quality_score (percentile_rank)'] = df_quality_score_grade["overall_score"].rank(pct = True).round(2)

# Display Quality score percentile rank
df_quality_score_grade.head(20)

,n_posts,followers,eng_score,eng_score_rec,perc_inc_eng_score,avg_likes_by_foll,avg_com_by_foll,hashtag_score,bio_with_keyword,posts_with_keyword,posts_with_keyword_by_total,hashtag_with_keyword,eng_score_keyword,overall_score,quality_score (in %),quality_score (percentile_rank)
profile_id,,,,,,,,,,,,,,,,
2031492798,0.45,1.16,4.11,3.48,0.00,7.14,0.61,11.7,0.0,0.0,0.0,0.0,0.0,219.150,5.62,0.51
285575633,0.71,3.23,4.94,4.33,0.03,8.57,0.00,3.1,0.0,0.0,0.0,0.0,0.0,189.475,4.86,0.44
222243163,3.12,1.52,0.74,0.49,0.18,1.43,0.00,54.6,0.0,0.0,0.0,0.0,0.0,454.275,11.64,0.79
3547777346,1.04,1.87,1.80,1.07,0.32,1.43,0.61,1.0,0.0,0.0,0.0,0.0,0.0,65.225,1.67,0.08
8693568724,0.68,2.13,0.61,0.36,0.03,0.71,0.00,28.9,0.0,0.0,0.0,0.0,0.0,245.100,6.28,0.56
346840779,0.64,1.73,7.96,5.04,0.08,9.29,1.23,0.0,0.0,0.0,0.0,0.0,0.0,207.450,5.32,0.48
504400186,0.06,1.34,2.63,2.34,0.00,5.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,87.550,2.24,0.14
363921172,0.26,5.17,2.79,1.98,0.16,5.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,105.600,2.71,0.20
1767139989,6.28,1.87,0.90,0.65,0.43,1.43,0.00,64.3,0.0,0.0,0.0,0.0,0.0,549.425,14.08,0.84
22140056,6.33,1.89,0.71,0.55,0.05,0.71,0.00,18.6,0.0,0.0,0.0,0.0,0.0,198.375,5.09,0.46
194267213,1.19,1.50,4.72,3.58,0.18,7.14,0.00,0.0,0.0,0.0,0.0,0.0,0.0,142.000,3.64,0.31
44200763,7.82,2.62,0.87,0.68,0.25,1.43,0.00,0.0,0.0,0.0,0.0,0.0,0.0,77.800,1.99,0.12
346156619,0.94,1.14,3.43,2.28,0.10,5.71,0.00,0.0,0.0,0.0,0.0,0.0,0.0,102.250,2.62,0.19
5973285,1.17,8.42,1.83,1.14,0.30,2.14,0.00,0.0,0.0,0.0,0.0,0.0,0.0,92.700,2.38,0.16
22489717,12.64,2.75,1.28,0.78,0.24,1.43,0.00,8.7,0.0,0.0,0.0,0.0,0.0,173.100,4.44,0.40
1418566770,0.29,3.04,2.95,1.89,0.04,4.29,0.00,0.0,0.0,0.0,0.0,0.0,0.0,91.425,2.34,0.15
1637675,1.02,2.42,3.98,2.05,0.05,4.29,0.00,7.4,0.0,0.0,0.0,0.0,0.0,159.825,4.10,0.36
2228444959,0.51,1.68,3.47,2.70,0.10,5.71,0.00,3.1,0.0,0.0,0.0,0.0,0.0,131.700,3.38,0.28
19860790,0.42,1.37,1.73,1.20,0.53,2.86,0.00,25.4,0.0,0.0,0.0,0.0,0.0,248.700,6.38,0.56
423121505,0.36,1.26,9.63,7.09,0.00,15.00,0.61,9.3,0.0,0.0,0.0,0.0,0.0,340.825,8.74,0.69

In [24]:
## Get Top 10 profiles with the best quality score
df_quality_score_grade.sort_values(by=['overall_score'], ascending=False, inplace=True)

df_quality_score_grade.head(10)

,n_posts,followers,eng_score,eng_score_rec,perc_inc_eng_score,avg_likes_by_foll,avg_com_by_foll,hashtag_score,bio_with_keyword,posts_with_keyword,posts_with_keyword_by_total,hashtag_with_keyword,eng_score_keyword,overall_score,quality_score (in %),quality_score (percentile_rank)
profile_id,,,,,,,,,,,,,,,,
6484572550,2.70,1.99,6.13,0.88,0.34,2.14,0.61,73.3,0.0,100.0,93.0,100.00,43.41,3901.075,100.00,1.0
1497614903,1.42,4.70,10.95,3.09,0.23,5.71,0.00,46.4,0.0,97.5,89.0,75.00,76.02,3899.175,99.95,1.0
5314861065,0.28,1.23,100.00,100.00,6.01,69.29,100.00,88.3,0.0,0.0,0.0,0.00,0.00,3796.300,97.31,1.0
3410385863,0.05,1.05,13.39,11.65,0.11,23.57,0.61,80.0,0.0,30.0,100.0,20.92,100.00,3515.675,90.12,1.0
184836172,1.51,1.14,6.90,5.86,0.00,11.43,1.23,75.0,100.0,27.5,92.0,30.61,46.04,3127.900,80.18,1.0
936336678,0.24,91.59,0.00,0.00,0.06,0.00,0.00,80.0,100.0,30.0,100.0,42.86,0.00,3038.050,77.88,1.0
3496401,1.57,2.48,7.16,7.12,2.30,12.86,0.00,78.3,100.0,27.5,92.0,5.61,53.24,3030.500,77.68,1.0
1972217239,0.71,4.23,11.81,10.25,0.28,20.71,1.23,56.7,100.0,22.5,75.0,6.12,69.78,3028.225,77.63,1.0
5527452664,0.40,1.26,2.50,1.98,0.09,4.29,0.61,74.2,100.0,27.5,92.0,61.22,16.07,2917.575,74.79,1.0
475394055,0.04,1.88,8.89,8.30,0.00,15.71,0.61,87.5,0.0,30.0,100.0,8.67,66.43,2907.175,74.52,1.0

In [25]:
pd.set_option('display.max_colwidth', None)
posts_sample[posts_sample["profile_id"] == 229891512]
profiles_sample[profiles_sample["profile_id"] == 229891512]

,sid,profile_id,profile_name,firstname_lastname,description,following,followers,n_posts,url,is_business_account
85105,3526312,229891512,robbeddington,rob beddington,"Owner of @embracelondon, #socialmedia for big brands, focusing on #movies, #music and #motors. \n \nDM ‚úâÔ∏è for enquiries.",7441,11543,730,www.embracelondon.com,False

***
    "I pledge on my honor that I have not given nor received any unauthorized assistance on this assignment."